<div class="container user-details-page" *ngIf="user">
  <div class="user-card card">
    <div class="user-header">
      <img [src]="user.avatar_url" alt="{{ user.name || user.login }}'s avatar" class="user-avatar">
      <div class="user-info">
        <h2>{{ user.name || user.login }}</h2>
        <p class="user-username">
          <a [href]="'https://github.com/' + user.login"
             target="_blank"
          >
            &#64;{{ user.login }}
          </a>
        </p>
        <p class="user-joined">Joined {{ user.created_at | date: 'dd MMM yyyy' }}</p>
      </div>
    </div>

    <p class="user-bio">
      {{ user.bio || 'Sem biografia' }}
    </p>

    <div class="user-stats">
      <div class="stat-item">
        <span class="stat-label">Repositories</span>
        <span class="stat-value">{{ reposCount }}</span>
      </div>
      <div class="stat-item">
        <span class="stat-label">Followers</span>
        <span class="stat-value">{{ user.followers }}</span>
      </div>
      <div class="stat-item">
        <span class="stat-label">Following</span>
        <span class="stat-value">{{ user.following }}</span>
      </div>
    </div>

    <div class="user-links">
      <div class="link-item" *ngIf="user.twitter_username">
        <span class="link-icon">🐦</span>
        <a
          [href]="'https://twitter.com/' + user.twitter_username"
          target="_blank"
        >
          &#64;{{ user.twitter_username }}
        </a>
      </div>
      <div class="link-item" *ngIf="user.blog">
        <span class="link-icon">🔗</span>
        <a
          [href]="user.blog.startsWith('http') ? user.blog : 'https://' + user.blog"
          target="_blank"
        >
          {{ user.blog }}
        </a>
      </div>
      <div class="link-item" [class.disabled]="!user.location">
        <span class="link-icon">📍</span>
        <span>{{ user.location || 'Não disponível' }}</span>
      </div>
    </div>
  </div>

  <div class="repositories" *ngIf="repos && repos.length">
    <h3>Repositórios</h3>
    <app-repository-list 
      [repos]="repos"
      [showFilters]="true"
    ></app-repository-list>
  </div>
</div>
